<div class="modal fade" id="addToModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="addToForm" method="POST" action="/candidate/quick-create">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Contact To</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="contactId" id="popupContactId">
          <p>Select where to add this contact:</p>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Add To Candidate</button>
            <button type="button" class="btn btn-info">Add To Manager</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  function openAddToPopup(contactId) {
    document.getElementById('popupContactId').value = contactId;
    const modal = new bootstrap.Modal(document.getElementById('addToModal'));
    modal.show();
  }
</script>